<footer class="text-center py-4 text">
  <p>2023 © • @gealts • Miguel Angel Toledo Santiago</p>
  <p>Hecho con amor para todos los visitantes ♥</p>
</footer>

<style>
  footer {
    color: var(--color-pink);
  }
</style>
