---
import JavaScript from "~/icons/JavaScript.astro";
---

<section class="container mt-4">
  <div class="info text-center">
    <h1 class="title text-4xl">
      <i>
        <span class="text-2xl">Hola! Me llamo</span>
        Miguel Angel
      </i>
    </h1>
    <div class="flex items-center justify-center gap-3">
      <JavaScript />
      <p>JavaScript Developer</p>
    </div>
    <p class="description text-xl">
      <i
        >Soy Ingeniero en Sistemas con 4 años de experiencia como desarrollador
        JavaScript también me gusta dibujar a veces.
        <br />
        <a href="#projects">
          <span class="underline font-bold">Mira mis proyectos</span> ✨
        </a>
      </i>
    </p>
  </div>
</section>

<style>
  .container {
    color: var(--color-pink);
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info {
    width: 381.25px;
  }

  .title {
    position: relative;
    font-weight: 300;
  }

  .title span {
    color: var(--color-blue);
    position: absolute;
    top: -35px;
  }

  .description a {
    color: var(--color-blue);
  }

  @media (max-height: 720px) {
    .container {
      margin-top: 60px;
    }
  }
</style>
