---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --color-blue: #0f6dd7;
    --color-pink: #e7d5d5;
    --color-white: #fcfdff;
    --color-dark: #1a1a1a;
    --color-gray: #3c4250;
    --color-light-gray: #9a9fab;
    --color-light-blue: #4388d6;
  }

  * {
    font-family: "Rubik", sans-serif;
  }

  html {
    background-color: var(--color-dark);
  }

  body {
    padding: 2em 1em 0 1em;
    max-width: 980px;
    margin: 0 auto;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-white);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-dark);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray);
  }
</style>
